<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eziketobenna.bakingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.recipes.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.github.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service android:name=".data.network.RecipeIntentService" />

        <activity android:name=".ui.details.DetailActivity" />
        <activity
            android:name=".ui.details.StepListActivity"
            android:label="@string/title_step_list"
            android:parentActivityName=".ui.recipes.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.eziketobenna.bakingapp.ui.recipes.MainActivity" />
        </activity>
        <activity
            android:name=".ui.details.StepDetailActivity"
            android:label="@string/title_step_detail"
            android:parentActivityName=".ui.details.StepListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.eziketobenna.bakingapp.ui.details.StepListActivity" />
        </activity>
    </application>

</manifest>